@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nanum Gothic', sans-serif;
}

a:link {
    color: black;
    text-decoration: none;
    text-align: center;
}

body #board-catetory {
    margin: 10vh 23vh 0;
    border-bottom: solid 2px #b8b8b8;
}

#board-catetory p {
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
    color: #4b4b4b;
}

.gallery {
    margin: 0 55vh;
    margin-bottom: 5vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.grid-item {
    position: relative;
    margin: 5vh 5vh;

}

.grid-item img {
    /* width: 100%; */
    width: 30vh;
    height: 30vh;
    /* height: auto; */
    display: block;
    margin-bottom: 1vh;
    border: #4b4b4b solid 1px;
    border-radius: 5vh 5vh;
}

.item-label {
    font-weight: bold;
    font-size: large;
    color: black;
}

.item-label2 {
    color: black;
}
.list {
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: flex-end;
}

.list a {
    background-color: #0af;
    border-radius: 5px 5px;
    color: #fff;
    text-align: center;
    padding: 1.5vh 4vh;
    margin-right: 28vh;
}
#search-comm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comm-search-cate {
    height: 5vh;
    font-size: medium;
    padding: 3px 3px;
}

#comm-search-cate option {
    padding: 3px 3px;
    font-size: medium;
}

#search-comm input {
    height: 5vh;
    margin: 0 2px;
    width: 50vh;
    font-size: medium;
    padding: 3px 3px;
}

input[type="text"]::placeholder {
    text-align: center;
}

#searchBtn {
    height: 5vh;
    width: 7vh;
    background-color: #00d3ff;
    color: #fff;
    border-style: none;
    padding: 5px 5px;
    font-size: small;
    font-weight: 650;
    border-radius: 3px;
}
.pagination {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 0 10vh;
}

.pagination a {
    color: #777777;
    width: 40px;
    height: 40px;
    display: inline-flex;
    /* Display as flex for centering text */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: solid 1px #777777;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #ff857f;
    border-color: #ff857f;
    color: white;

}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
