@charset "UTF-8";
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'SUIT-Regular';
	font-weight:normal;
	list-style: none;
}

body #board-catetory {
	margin: 10vh 20vh 0;
	border-bottom: solid 2px #b8b8b8;
}

#board-catetory p {
	padding: 5px;
	font-size: 30px;
	font-weight: 800;
	color: #4b4b4b;
}

.content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin: 10vh 20vh 0;
}
#side-menu ul li a {
    background-color: #e5e5e5;
    color: #777777;
}

#side-menu ul li a.selected {
    background-color: #00d3ff;
    color: #fff;
}

#side-menu {
	margin-top: -3vh;
	display: flex;
	justify-content: left;
	align-items: center;
}

#sub-menu li {
	border-bottom: #fff solid 2px;
}


#sub-cate {
	display: block;
	padding: 20px 30px;
	text-decoration: none;
	font-weight: bold;
	transition: background-color 0.3s ease;
	text-align: center;
	border-bottom: #fff solid 2px;
}

#table-container {
	margin-left: 20px;
	flex-grow: 1;
}

#notice-board {
	margin-bottom: 5vh;
	background-color: #ffdede;
	border-radius: 50px 50px;
	color: #d7504a;
	text-align: center;
	padding: 2vh;
}

#notice-board span {
	font-weight: bold;
	font-size: 2.8vh;
}

table {
	width: 100%;
	border-collapse: collapse;
	/* margin-top: 20px; */
}

table tr td .lol {
	/*    width:80%; */
	
}

table, td {
	border-bottom: 1px solid #777777;
	padding: 5vh;
	text-align: center;
	color: #777777;
	font-weight: bold;
}

a {
	color: #777777;
}

a:link {
	text-decoration: none;
	color: #777777;
}

.list {
	width: 100%;
	margin-top: 3vh;
	margin-bottom: 5vh;
	display: flex;
	justify-content: flex-end;
}

.list a {
	background-color: #0af;
	border-radius: 5px 5px;
	color: #fff;
	text-align: center;
	padding: 1vh 3vh;
	margin-right: 22vh;
}

#search-comm {
	margin: 5vh 0 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#comm-search-cate {
	height: 5vh;
	font-size: medium;
	padding: 3px 3px;
	border: 1px solid #D4D4D4;
    outline: none;
    box-shadow: none;
    color:#B0B0B0;
}

option {
	padding: 3px 3px;
	font-size: medium;
}

#search-comm input {
	height: 5vh;
	margin: 0 2px;
	width: 50vh;
	font-size: medium;
	padding: 3px 3px;
	border: 1px solid #D4D4D4;
    outline: none;
    box-shadow: none;
}

input[type="text"]::placeholder {
	text-align: center;
	color:#D4D4D4;
}

#search-comm button {
	height: 5vh;
	width: 7vh;
	background-color: #00d3ff;
	color: #fff;
	border-style: none;
	padding: 5px 5px;
	font-size: small;
	font-weight: 650;
	border-radius: 3px;
}

.pagination {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 0 10vh;
}

.pagination a {
	color: #777777;
	width: 40px;
	height: 40px;
	display: inline-flex;
	/* Display as flex for centering text */
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border: solid 1px #777777;
	border-radius: 5px;
}

.pagination a.active {
	background-color: #ff857f;
	border-color: #ff857f;
	color: white;
}

.pagination a:hover:not (.active ) {
	background-color: #ddd;
	border-radius: 5px;
}