@charset "UTF-8";


.com_detail_header {
	text-align: center;
	margin: 10vh 20vh 0;
	border-bottom: solid 1px #b8b8b8;
	justify-content: space-between;
	align-items: center;
}

.com_detail_header p {
	margin: 1vh 0;
}

.com_detail_header p:nth-child(1) {
	font-size: larger;
	font-weight: 800;
	flex: 1;
}

.com_detail_header p:nth-child(3) {
	text-align: right;
	font-size: 13px;
	margin-top: -3vh;
	margin-right: 1vh;
}

.com_detail_content {
	text-align: center;
	margin: 5vh 20vh 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.com_detail_content p {
	margin-bottom: 1vh;
}

.com_detail_content_long {
	text-align: justify;
	white-space: pre-line;
}

.com_detail_content button {
	margin-top: 10vh;
	align-self: flex-end;
	padding: 5px 10px;
	font-size: 13px;
}

.files, .article {
	margin: 0 20vh 5vh;
}

.files table {
	width: 100%;
	border: 1px solid #b8b8b8;
	border-collapse: collapse;
	margin-bottom: 4vh;
}

td {
	padding: 2vh;
}

.files table tr:nth-child(1) {
	background-color: #ddd;
}

.files table tr a {
	text-decoration: none;
	color:black;
}
.files table tr a:hover{
	text-decoration: none;
	color:black;
}
.col-date {
	text-align: right;
}

.article table {
	width: 100%;
	border-top: 1px solid #777777;
	border-collapse: collapse;
	/* margin-top: 20px; */
}

.article table, .article td {
	border-bottom: 1px solid #777777;
	padding: 3vh;
	color: #777777;
	font-weight: bold;
}

.article a {
	color: black;
	text-decoration: none;
}

.article a:link {
	color: black;
	margin-right: 40vh;
}

/* write */
.list {
    margin-top: 5vh;
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}


.list a {
    background-color:#00B9F3;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 1.3vh 5vh;
}

.edit {
	margin-right:20vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: flex-end;
}

.edit a {
	letter-spacing: 0.2em;
    margin-top: 1vh;
    margin-left: 10px;
    border-radius: 30px;
    text-align: center;
    padding: 5px 27px;
}

.edit a:nth-child(1) {
    background-color: #898989;
    color: #fff;
    margin-right: 1vh;
}

.edit a:nth-child(2) {
    color: #a5a5a5;
    border: #898989 solid 1px;
}
.select_img {
	width:50px;
	margin:20px 0;
}

.oriImg {
    max-width: 300px;
    height: auto;
    display: block; /* 이미지를 블록 요소로 설정하여 가로 중앙 정렬을 적용 */
    margin: 0 auto; /* 가로 중앙 정렬 */
}
    }
