@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nanum Gothic', sans-serif;
}

body .ex_detail_header {
    margin: 15vh 30vh 0;
    /* border-bottom: solid 2px #b8b8b8; */
}

.ex_detail_header p:nth-child(1) {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
    color: #4b4b4b;
    text-align: center;
    margin-bottom: 2vh;
}
.ex_detail_header p:nth-child(2){
	font-size: 15px;
	text-align: right;
	margin-bottom: .7vh;
}
.ex_detail_contents {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 30vh;

}

.whysomndiv img{
    margin: 2vh 0;
    width: 70%;
    height: auto;
    align-items: center;
}

.deadline {
    font-weight: bolder;
}

.deadline_t {
    font-style: italic;
}

.location {
    font-weight: bold;
}

.ex_detail_content_long {
    white-space: pre-line;
    margin-bottom: 3vh;
    line-height: 1.5;
    text-align:left;
    
}

button {
    margin-right: 20vh;
    padding: 5px 10px;
    font-size: 13px;
    margin-bottom: -3vh;
}

.files,
.article {
    margin: 0 20vh 5vh;
}

.files table {
    width: 100%;
    border: 1px solid #b8b8b8;
    border-collapse: collapse;
    margin-bottom: 4vh;
}

td {
    padding: 2vh;
}

.files table tr:nth-child(1) {
    background-color: #ddd;
}

.col-date {
    text-align: right;
}

.article table {
    width: 100%;
    border-top: 1px solid #777777;
    border-collapse: collapse;
    /* margin-top: 20px; */
}

.article table,
.article td {
    border-bottom: 1px solid #777777;
    padding: 3vh;
    color: #777777;
    font-weight: bold;
}

.article a {
    color: black;
    text-decoration: none;
}

.article a:link {
    color: black;
    margin-right: 40vh;
}

.list_sns {
    display: flex;
    justify-content: flex-end;
}

.list_sns button {
    margin-bottom: 3vh;
}

.edit {
    width: 100%;
    margin-bottom: 2vh;
    display: flex;
    justify-content: flex-end;
    border-top: solid 2px #b8b8b8;
}

.edit a {
	letter-spacing: 0.2em;
    margin-top: 1vh;
    margin-left: 10px;
    border-radius: 30px;
    text-align: center;
    padding: 5px 27px;
}

.edit a:nth-child(1) {
    background-color: #898989;
    color: #fff;
    margin-right: 1vh;
}

.edit a:nth-child(2) {
    color: #a5a5a5;
    border: #898989 solid 1px;
}
.list {
    margin-top: 5vh;
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}


.list a {
    background-color:#00B9F3;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    padding: 1.3vh 5vh;
}
.article table {
    margin-top: 2vh;
    width: 100%;
    border-top: 1px solid #777777;
    border-collapse: collapse;
    /* margin-top: 20px; */
}

.article table,
.article td {
    border-bottom: 1px solid #777777;
    padding: 3vh;
    color: #777777;
    font-weight: bold;
}

.article a {
    /* color: black; */
    text-decoration: none;
}

.article a:link {
    /* color: black; */
    margin-right: 40vh;
}

/* ex_detail.html alone css */
.ex_details {
    background-color: #f4f2f2;
    margin-bottom: 2vh;
}

table tr td,
th {
    text-align: left;
}

th {
    padding-left: 5vh;
}
/* a:link {
  color : black;
} */

.rcm_container {
	margin-top:20vh;
    position: relative;
    margin-bottom:1vh;
}

.rmd {
    border-style: solid none;
    border-width: 2px;
    border-color: #FF9999;
    padding: 5vh 0;
}

.rmd2 {
    margin: -4vh 0;
    border-style: solid none;
    border-width: 2px;
    border-color: #FF9999;
    padding: 2vh 0 6vh;
}

.grid-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    justify-content: center;
}

.grid-item {
    position: relative;
    margin: 2vh 2vh;
}
.item-label {
    margin: 1vh 0 2vh;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.rcm_container span {
    position: absolute;
    top: -5px;
    left: 0;
    font-size: large;
    font-weight: bold;
    color: #FF5E5E;
    background-color: #fff; 
    padding: 0 10px 0 0; 
}
